os: linux

language: node_js

node_js: 11.6.0

cache: npm

install: 
 - npm install

script:
  - npm test
  - npm start

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  keep_history: true
  target_branch: gh-pages
  on:
    branch: master
